# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# tex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.aux
*.pdf
*.log
*.md
*.fdb_latexmk
*.out
*.gz
*.bb*
*.blg
*.i*
*.run*
*.toc
*-blx.bib
*.jpg
*.brf
*.lo*
*.snm
*.nav
*.vrb
*.bcf
